.THIS .background {
    background-color: slategrey;
}

.slds-card.cContactListComponent_app.THIS{
    width:80%;
    margin : 0 auto;
}
.center-align.cContactListComponent_app.THIS{
    width:100%;
    margin : 0 auto;
}