.THIS table{
    border:1px solid black;
}
.THIS .bitacoratable{
    height: 400px;
    overflow-y: auto;
    width: 220px;
    float:left;
}
.THIS table, .THIS td,.THIS th
{
border:1px solid black;
}

.THIS .childgrid tr{
    cursor: pointer; 
}
.THIS .selectedRow, .THIS .selectedRow:active, .THIS .childgrid tr:active{
    background-color: #E7E7E7;
    cursor: move;
}