<apex:page action="{!onCalenderDataLoad}" showHeader="false" controller="DetailTimesheetContorller" standardStylesheets="false" lightningStylesheets="true" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <html>
        <head>
            <title>Time Sheet | Home</title>
            <!-- Apply Css stylesheet  -->
            <style>

               .tab-head{
                    margin: 0px;
                    padding: 0px;
                }
                
                .input-task-box{
                    margin: auto;
                    width: 60%;
                    background-color: #fbfbfb;
                }
                
                .pagecontent{
                  width:107%
                }
                
                .time-log-div {
                    position: fixed;
                    width: 100%;
                    top: 50px;
                    left: 0px;
                }
                
                .info-box{
                  min-height: 400px;
                } 
                         
                .card-div {
                    border: 1px solid #F4F6F9;
                    float: left;
                    margin: 20px;
                    padding: 10px;
                    box-shadow: 1px 1px 3px 1px #0067C1;
                }
                
                .button-box {
                    border-top: 1px solid #8fa5a5;
                    display: table;
                    margin: 0 auto;
                    padding: 10px;
                }
                
                .card-view-data-box {
                    display: table;
                    margin: 0 auto;
                }
                
               .card-div h1{
                    padding: 10px;
                }
                
                .card-div h2{
                    padding: 10px;
                }

                .cal-tab{
                    margin: 0px;
                    padding: 5px;
                    border-right: 1px solid #000;
                    float: left;
                }
                
                .CalenderMy table{
                    width:100%;
                    border : 1px solid;
                }
                
                .CalenderMy tbody tr{
                    width:100%;
                    height:200Px;
                    border : 1px solid;
                }
                
                .CalenderMy tbody td{
                    width: 200px;
                    height: 200Px;
                    border: 1px solid;
                    text-align: right;
                    margin: 0px;
                    padding: 0px;
                    font-size: 19px;
                }
                
                .CalenderMy tbody td p {
                   font-size: 20px;
                   text-align: -moz-center;
                }
                
                 .CalenderMy tbody td h1 {
                   font-size: 48px;
                    text-align: left;
                }         
                
                .CalenderMy thead tr {
                    border: 1px solid;
                    background-color: #2e44e9;
                    color: wheat;
                    font-size: 20px;
                }
                
                .CalenderMy thead td {
                    border: 1px solid;
                    text-align: center;
                }
                
            </style>
            <!-- End stylesheet -->
            <apex:slds />
            <script>
                var calenderData_js = [<apex:repeat value="{!calenderDataList}" var="td">
                    {
                        id : "{!td.timeLogId}",
                        calDate : "{!td.timeLogDate}",
                        workingTime : "{!td.workingTime}",
                        projectNam : "{!td.projectName}",
                        projectTaskName : "{!td.projectTaskName}"
                    },                
                    </apex:repeat>];
                   console.log(calenderData_js);             
                   var monthList_js = [
                   
                       <apex:repeat value="{!monthList}" var="m">
                           {
                               cDate : "{!m}"
                            },
                       </apex:repeat>
                   
                   ];     
                   console.log(monthList_js);              
                </script>
        </head>
        <body  onload="defaultvalues();">
        <apex:form >
           
            <!-- Head Section -->
            <section>
                <!-- Start slds-Scope -->
                <div class="slds-scope">
                <div class="slds-col slds-no-flex slds-grid slds-align-top">
                    <div class="slds-tabs--default" data-aljs="tabs">
                        <ul class="slds-tabs--default__nav  slds-order_2 slds-large-order_1 slds-large-size--1-of-2 slds-medium-size_1-of-1 slds-float_left slds-small-size--1-of-1 slds-size_1-of-1" role="tablist">
                            <li class="slds-tabs--default__item slds-text-heading--label" title="Item One" role="presentation">
                                <a class="slds-tabs--default__link" href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" data-aljs-show="tab-default-1">Projects</a>
                            </li>
                            
                            <li class="slds-tabs--default__item slds-text-heading--label" title="Item Two" role="presentation">
                                <a class="slds-tabs--default__link" href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" data-aljs-show="tab-default-2">All Timesheet</a>
                            </li>
                            
                        </ul>
                        <ul class="slds-tabs--default__nav  slds-order_1 slds-large-order_2 slds-large-size--1-of-2 slds-medium-size_1-of-1  slds-small-size--1-of-1  slds-p-around_xx-small slds-size_1-of-1" role="tablist">                         
                            <li class="slds-tab--default__item slds-text-heading--label" title="Item Three" role="presentation">
                                <button class="slds-button slds-button_neutral slds-m-right_x-small" onClick="project_win(); return false;">
                                  <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                    <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#add" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                  </svg>
                                  New Project
                                </button>                               
                            </li>
                            
                            <li class="slds-tab--default__item slds-text-heading--label" title="Item Three" role="presentation">
                                <div class="slds-button-group" role="group">
                                  <button class="slds-button slds-button_brand" onClick="task_win(); return false;">
                                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                      <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#add" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                    </svg>
                                    Log Time
                                  </button>
                                
                                  <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last">
                                    <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-right_x-small" aria-haspopup="true" disabled="disabled" title="More Actions">
                                      <svg class="slds-button__icon" aria-hidden="true">
                                        <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#down" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                      </svg>
                                      <span class="slds-assistive-text">More Actions</span>
                                    </button>
                                  </div>
                                </div>                               
                            </li>

                            <li class="slds-tab--default__item slds-text-heading--label" title="Item Three" role="presentation">
                                <button class="slds-button slds-button_inverse slds-m-right_x-small">
                                  <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                    <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#settings" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                  </svg>
                                  <svg class="slds-button__icon" aria-hidden="true">
                                    <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#down" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                  </svg>
                                                                  
                                </button>                               
                            </li>
                        </ul>
                        <!-- Project panel -->
                        <div id="tab-default-1" class="slds-tabs--default__content slds-hide" role="tabpanel">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure">
                                            <label class="slds-form-element__label" for="select-01">View By :</label>
                                        </div>
                                        <div class="slds-media__body">
                                            <div class="slds-form-element">
                                            
                                                <div class="slds-form-element__control">
                                                    <div class="slds-select_container slds-size_1-of-3">
                                                        <select class="slds-select" id="select-01">
                                                            <option value="">All Project</option>
                                                            <option>Option One</option>
                                                            <option>Option Two</option>
                                                            <option>Option Three</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="slds-no-flex">
                                        <div class="slds-button-group slds-float_right" role="group">
                                            <button class="slds-button slds-button_neutral" onclick="projectListView(); return false;">
                                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#list" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                </svg>List
                                            </button>
                                            <button class="slds-button slds-button_neutral" onclick="projectcardView();return false;">
                                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#dayview" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                </svg>Card
                                            </button>
                                        </div>
                                    </div>
                                  </div>
                            </article> 
                            
                            <div id="listview">
                                <table class="slds-table slds-table_bordered slds-max-medium-table_stacked-horizontal slds-m-bottom_x-small">
                                    <thead>
                                        <tr class="slds-text-title_caps">

                                           <th scope="col">
                                                <div class="slds-truncate" title="Customer Name">Customer Name</div>
                                            </th>

                                            <th scope="col">
                                                <div class="slds-truncate" title="Project Name">Project Name</div>
                                            </th>

                                            <th scope="col">
                                                <div class="slds-truncate" title="Billing Method">Billing Method</div>
                                            </th>

                                            <th scope="col">
                                                <div class="slds-truncate" title="Rate Per Hour">Rate Per Hour</div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!projectList}" var="p" >
                                            <tr class="slds-hint-parent">
                                                <td scope="row" data-label="Customer Name">
                                                    <div class="slds-truncate" title="Customer Name">
                                                         <apex:outputText value="{!p.Customer_Name__r.Name}"/>
                                                    </div>
                                                </td>

                                                <td scope="row" data-label="Project Name">
                                                    <div class="slds-truncate" title="Project Name">
                                                         <apex:outputText value="{!p.name}"/>
                                                    </div>
                                                </td>

                                                 <td scope="row" data-label="Billing Method">
                                                    <div class="slds-truncate" title="Billing Method">
                                                         <apex:outputText value="{!p.BIlling_Method__c}"/>
                                                    </div>
                                                </td>

                                                <td scope="row" data-label="Rate Per Hour">
                                                    <div class="slds-truncate" title="Rate Per Hour">
                                                         <apex:outputText value="{!p.Rate_Per_Hours__c}"/>
                                                    </div>
                                                </td>
                                            </tr>   
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>

                            <div id="cardview" class="pagecontent">
                            
                                <div class="slds-grid slds-wrap card-view-data-box">
                                    <apex:repeat value="{!projectList}" var="p" >
                                        <div class="card-div slds-large-size_1-of-6 slds-medium-size_1-of-2 slds-small-size_1-of-1 info-box">
                                        
                                            <div class="slds-size_1-of-1 slds-text-align_center slds-text-heading_medium">
                                                <h1>{!p.name}</h1>
                                            </div> 

                                            <div class="slds-size_1-of-1 slds-text-align_center slds-text-heading_medium">
                                                <h1>{!p.Customer_Name__r.Name}</h1>
                                            </div> 

                                             <div class="slds-size_1-of-1 slds-text-align_center">
                                                <h2>{!p.Rate_Per_Hours__c}</h2>
                                            </div>
                                            <div class="button-box slds-size_1-of-1">
                                                   <div class="slds-size_1-of-2 slds-float_left">
                                                        <button class="slds-button slds-button_neutral" onclick="opentask(); return false;"> Time Log</button>  
                                                    </div>
                                                     <div class="slds-size_1-of-2 slds-float_left">                                               
                                                        <button class="slds-button slds-button_neutral" > Create Expence</button>  
                                                    </div>
                                            </div>

                                        </div>
                                    </apex:repeat> 
                                </div>
                                
                                
                                <div id="taskInputDiv" class="time-log-div">
                                    <div class="input-task-box">
                                        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_offline" role="alert">
                                              <span class="slds-assistive-text">Fill Time log</span>
                                              <span class="slds-icon_container slds-icon-utility-offline slds-m-right_x-small" title="Description of icon when needed">
                                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                  <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#edit_form" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                              </svg>
                                              </span>
                                              <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" onclick="closetask(); return false;" title="Close">
                                                <svg class="slds-button__icon" aria-hidden="true">
                                                  <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                </svg>
                                                <span class="slds-assistive-text">Close</span>
                                              </button>
                                            </div>
                                           <iframe id="theIframe" name="theIframe" src="https://c.ap5.visual.force.com/apex/SampleTask" width="100%" height="600px"></iframe>
                                        </div> 
                                    </div>    
                                </div>
                        </div>
                        <!-- End Project panel -->
                        <!-- TimeSheet panel> -->
                        <div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel">   
                        <apex:outputPanel id="calenderViewA">                         
                            <article class="slds-card tab-head">
                                <div class="slds-card__header slds-grid">
                                    <header id="listHead" class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__figure">
                                                <label class="slds-form-element__label" for="select-01">View By :</label>
                                            </div>
                                            
                                            <div class="slds-media__body">
                                                <div class="slds-button-group slds-size_1-of-8 slds-float_left" role="group">
                                                    <button class="slds-button slds-button_neutral">  Status : All
                                                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                        <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#down" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                        </svg>
                                                    </button>
                                                </div>
                                                
                                                <div class="slds-button-group slds-size_1-of-8 slds-float_left" role="group">
                                                    <button class="slds-button slds-button_neutral">Period : 
                                                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                        <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#down" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                           
                                    </header>
                                    
                                    <header id="cardHead" class="slds-media slds-media_center slds-has-flexi-truncate">
                                        <!--<div class="slds-grid slds-size_1-of-6">
                                            <div class="slds-size_1-of-7">
                                                <apex:commandButton styleClass="slds-button slds-button_neutral" value="Prev" onclick="prevMonth(); return false; "/>
                                            </div>
                                            <div class="slds-size_4-of-7">
                                                <apex:outputLabel value="{!monthOf}" id="lab"/>
                                            </div>

                                            <div class="slds-size_1-of-7">
                                                <apex:commandButton styleClass="slds-button slds-button_neutral" value="Next" onclick=" nextMonth(); return false;"/>
                                            </div>

                                            <div class="slds-size_1-of-7">
                                                <apex:commandButton value="today" styleClass="slds-button slds-button_neutral" onclick="currentMonth(); return false;"/>
                                            </div>
                                        </div>-->
                                        <apex:commandButton value="Prev" action="{!prevMonth}" />
                                        <apex:outputLabel value="{!monthOf}"/>
                                        <apex:commandButton value="Next" action="{!nextMonth}" />
                                        <apex:commandButton value="today" action="{!currentMonth}"/>
                                    </header>

                                    <div class="slds-no-flex">
                                        <div class="slds-button-group slds-float_right" role="group">
                                            <button class="slds-button slds-button_neutral" onClick="timeSheetListView(); return false;">
                                                <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                                                <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#list" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                </svg>List
                                            </button>
                                            <button class="slds-button slds-button_neutral" onClick="timeSheetcalView(); return false;">
                                            <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                                                <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#dayview" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                                </svg>Calendar
                                            </button>
                                        </div>
                                    </div>
                                  </div>
                            </article>
                            <div>
                                <!-- timesheet List View  -->
                                <div id="timelistview">
                                    <table class="slds-table slds-table_bordered slds-max-medium-table_stacked-horizontal slds-m-bottom_x-small">
                                        <thead>
                                            <tr class="slds-text-title_caps">
    
                                               <th scope="col">
                                                    <div class="slds-truncate" title="Date">Date</div>
                                                </th>
    
                                                <th scope="col">
                                                    <div class="slds-truncate" title="Project">Project</div>
                                                </th>
    
                                                <th scope="col">
                                                    <div class="slds-truncate" title="Customer">Customer</div>
                                                </th>
    
                                                <th scope="col">
                                                    <div class="slds-truncate" title="Task">Task</div>
                                                </th>
                                                
                                                <th scope="col">
                                                    <div class="slds-truncate" title="User">User</div>
                                                </th>
                                                
                                                <th scope="col">
                                                    <div class="slds-truncate" title="Task">Status</div>
                                                </th>
                                                
                                                <th scope="col">
                                                    <div class="slds-truncate" title="Note">Note</div>
                                                </th>    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <apex:repeat value="{!dtimesheetList}" var="tdl" >
                                                <tr class="slds-hint-parent">
                                                    <td scope="row" data-label="Date">
                                                        <div class="slds-truncate" title="Date">
                                                             <apex:outputText value="{!tdl.Date__c}"/>
                                                        </div>
                                                    </td>
    
                                                    <td scope="row" data-label="Project ">
                                                        <div class="slds-truncate" title="Project">
                                                             <apex:outputText value="{!tdl.Projectid__r.name}"/>
                                                        </div>
                                                    </td>
    
                                                     <td scope="row" data-label="Customer">
                                                        <div class="slds-truncate" title="Customer">
                                                             <apex:outputText value="{!tdl.Projectid__r.Customer_Name__c}"/>
                                                        </div>
                                                    </td>
    
                                                    <td scope="row" data-label="Task">
                                                        <div class="slds-truncate" title="Task">
                                                             <apex:outputText value="{!tdl.Task_Name__c}"/>
                                                        </div>
                                                    </td>
                                                    
                                                    <td scope="row" data-label="User">
                                                        <div class="slds-truncate" title="User">
                                                             <apex:outputText value="{!tdl.owner.name}"/>
                                                        </div>
                                                    </td>
                                                    
                                                    <td scope="row" data-label="Time">
                                                        <div class="slds-truncate" title="Time">
                                                             <apex:outputText value="{!tdl.Hours_Spent__c}"/>
                                                        </div>
                                                    </td>
                                                    
                                                     <td scope="row" data-label="Status">
                                                        <div class="slds-truncate" title="Status">
                                                             <apex:outputText value="{!tdl.Status_del__c}"/>
                                                        </div>
                                                    </td>
                                                    
                                                     <td scope="row" data-label="Note">
                                                        <div class="slds-truncate" title="Status">
                                                             <apex:outputText value="{!tdl.Notes__c}"/>
                                                        </div>
                                                    </td>     
                                                </tr>   
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End timesheet List View  -->

                                <!-- Calender View  -->
                                    <div id="calenderView">
                                        <div class="slds-grid slds-wrap">
                                            <div id="Calender" class="slds-size_8-of-8 CalenderMy"></div>
                                        </div>
                                    </div>
                                <!-- End Calender View  -->
                            </div>
                            </apex:outputPanel>
                            
                        </div>
                        <!-- end timesheet panel-->

                    </div>
                   </div>                
                </div>
                <!-- End slds-Scope -->
            </section>
            <!-- End Head Section -->
        </apex:form>
        <!-- Javascript  -->
        <!-- Javascript -->
        <script src="{!URLFOR($Resource.aljs, '/js/jquery-3.2.1.min.js')}"></script>
        <script src="{!URLFOR($Resource.aljs, '/js/jquery.aljs-all-with-moment.min.js')}"></script>
        <script src="{!URLFOR($Resource.aljs, '/js/jquery.aljs-tabs.min.js')}"></script>
        <script>
            //listview div and cardview div.............................
            var listViewdiv = document.getElementById("listview");
            var cardviewdiv = document.getElementById("cardview");
            var taskdiv = document.getElementById("taskInputDiv");
            var listHeadDiv = document.getElementById("listHead");
            var timeSheetLstDiv = document.getElementById("timelistview");
            var calenderDiv = document.getElementById("calenderView");
            var cardheadDiv = document.getElementById("cardHead")
            
            function defaultvalues(){
                listViewdiv.style.display = "block";
                cardviewdiv.style.display = "none"; 
                taskdiv.style.display="none";
                listHeadDiv.style.display="block";
                timeSheetLstDiv.style.display="block";
                calenderDiv.style.display="none";
                cardheadDiv.style.display="none";
                console.log('Default value loaded');    
            }

            
            $.aljsInit({
                    assetsLocation:'.',
                    scoped: true,
                    scopingClass: 'slds-scope'
                });
                
            $(document).ready(function() {
                $('[data-aljs="tabs"]').tabs({
                    defaultTabId: '',
                    onChange: function(obj) {}
                });
            });
        
            function project_win() {
             window.open('/apex/Project_slds_Edit_view');
            }
            
            function task_win() {
             window.open('/apex/SampleTask');
            }
            
           function projectListView(){
                if (listViewdiv.style.display == "none") {
                     listViewdiv.style.display = "block";
                     cardviewdiv.style.display = "none"
                 }
                 console.log('list View');
            }
            
            function projectcardView(){
                 if (cardviewdiv.style.display == "none") {
                     cardviewdiv.style.display = "block";
                     listViewdiv.style.display = "none";
                 }
                 console.log('Card View');
            }

            function timeSheetListView(){
                if(timeSheetLstDiv.style.display =="none"){
                    timeSheetLstDiv.style.display = "block";
                    listHeadDiv.style.display="block";
                    calenderDiv.style.display="none";
                    cardheadDiv.style.display="none";
                }
                console.log('timesheet list view');
            }

            function timeSheetcalView(){
                if(calenderDiv.style.display =="none"){
                    timeSheetLstDiv.style.display = "none";
                    listHeadDiv.style.display="none";
                    calenderDiv.style.display="block";
                    cardheadDiv.style.display="block";
                }
                console.log('timesheet list view');
            }

            function opentask(){
                if(taskdiv.style.display == "none"){
                    taskdiv.style.display = "block";
                }
                console.log('Task open');
            }
            
            
            function closetask(){
                if(taskdiv.style.display == "block"){
                    taskdiv.style.display = "none";
                }
                console.log('Task close');
            }


                        var dayNames = ["Sun", "Mon", "Tus","Wed", "Thu"," Fir", "Sat"];
            var weekdays;
            
            for(var days in dayNames){
                if(dayNames[days] == "{!prevLastDay}"){
                     weekdays = days;
                }
            }      
                   
            var noOfDaysinweek = 7;
            var counter = 0;
            var yearCal = "{!curYear}";
            var rowcount = 0;
            var tableDiv = document.getElementById("Calender");
            var calTable = document.createElement('table');
            //calTable.setAttribute('class','slds-table slds-table_bordered slds-table_cell-buffer');
            calTable.setAttribute('id',yearCal);
            var calTableHead =  calTable.createTHead();
            var calTableHaedRow = calTableHead.insertRow();
            
            for(var i = 0 ; i < dayNames.length; i++){
                var tableHeaderRowCell1 = calTableHaedRow.insertCell(i);
                tableHeaderRowCell1.setAttribute('id',dayNames[i]);
                tableHeaderRowCell1.appendChild(document.createTextNode(dayNames[i]));
            }  
            
            var tableBody = calTable.appendChild(document.createElement('tbody'));
            var dataRow =tableBody.insertRow(rowcount);
            
            while(weekdays > 0){
              var tableRowCell1 = dataRow.insertCell(counter);
              tableRowCell1.setAttribute('class','blank');
              tableRowCell1.appendChild(document.createTextNode("--"));  
              weekdays--;
              counter++;
              noOfDaysinweek--;
            }
        
            for(var cd = 1 ; cd <= monthList_js.length; cd++ ){
              if(noOfDaysinweek > 0 && rowcount == 0){
                var tableRowCell1 = dataRow.insertCell(counter);
                tableRowCell1.setAttribute('id',cd);
                tableRowCell1.appendChild(document.createTextNode(cd));  
                noOfDaysinweek--;
                counter++;
                if(counter == 7){
                  rowcount++;
                  counter=0;
                }
              }else{
                if(rowcount > 0 && noOfDaysinweek == 0 ){
                  noOfDaysinweek=7;
                  dataRow =tableBody.insertRow(rowcount);
                  var tableRowCell1 = dataRow.insertCell(counter);
                  tableRowCell1.setAttribute('id',cd);
                  tableRowCell1.appendChild(document.createTextNode(cd));
                  counter++;
                  noOfDaysinweek--;
                }else{
                  var tableRowCell1 = dataRow.insertCell(counter);
                  tableRowCell1.setAttribute('id',cd);
                  tableRowCell1.appendChild(document.createTextNode(cd));
                  noOfDaysinweek--;
                  counter++;
                  if( noOfDaysinweek == 0 ){
                      noOfDaysinweek =0;
                      rowcount++;
                      counter=0;
                  }
                 }
                }
              }       
            tableDiv.appendChild(calTable);
            
            for(var i in calenderData_js){
                        for(var j in monthList_js){
                            if(calenderData_js[i].calDate == monthList_js[j].cDate){
                               var DivId_c = monthList_js[j].cDate.split("-");
                               var mydiv = DivId_c[2];
                               document.getElementById(mydiv).innerHTML = "<h1>"+mydiv+"</h1><p>"+calenderData_js[i].projectTaskName+"</p> <p>"+calenderData_js[i].workingTime+"</p>";
                               console.log('====================');
                               
                            }
                        }
                    }  
        </script>
        <!-- Javascript -->
        </body>
    </html>
</apex:page>