.cCalculator_Demo.main-box.THIS {
    width:20%;
    margin: 20px auto;
    background-color: #125087 !important;
    border-radius: 30px;
}

.cCalculator_Demo.calculator_brand.THIS h1 {
    color: #ffffff !important;
    text-align: center;
    font-size: 1cm;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
}

.screen.cCalculator_Demo.THIS {
    background-color: #d3d3d3;
    height: 50px !important;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px -3px 0px 0px #A9A9A9;
}

.screen.cCalculator_Demo.THIS p {
    color: #201d1d;
    font-size: 1cm;
    text-align: right;
    
}

.cCalculator_Demo.key-pad.THIS{
    width:80%;
    margin:0 auto;
}

.top-panel.cCalculator_Demo.THIS{
    padding:5px;
}

.top-panel.cCalculator_Demo.THIS a {
    width:100%;
    padding-left: 14px;
    margin: 0px;
    padding-right: 13px;
    text-decoration: none;
    padding-bottom: 5px;
    border-radius: 14px;
}

.button-red.cCalculator_Demo.THIS {
    background-color: #f2495c;
    font-weight: bold;
    font-size: 29px;
    box-shadow: -1px 5px 0px 0px #444444;
    border: 3px solid #CFD4D9;
}

.button-red.cCalculator_Demo.THIS:hover{
    background-color: #FF773D;
    color: #ffffff;
    font-weight: bold;
    font-size: 29px;
    cursor: pointer;
    animation: pulsate 4s linear infinite;
}

.button-blue.cCalculator_Demo.THIS {
    background-color: #1F96FF;
    color: #000000 !important;
    font-weight: bold;
    font-size: 29px;
    box-shadow: -1px 5px 0px 0px #444444;
    border: 3px solid #CFD4D9;
}

.button-blue.cCalculator_Demo.THIS:hover{
    background-color: #FF773D;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 29px;
    cursor: pointer;
    animation: pulsate 4s linear infinite;
}

.button-white.cCalculator_Demo.THIS {
    background-color: #FFFFFF;
    color: #000000 !important;
    font-weight: bold;
    font-size: 29px;
    box-shadow: -1px 5px 0px 0px #444444;
    border: 3px solid #CFD4D9;
}

.button-white.cCalculator_Demo.THIS:hover{
    background-color: #FF773D;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 29px;
    cursor: pointer;
    animation: pulsate 4s linear infinite;
}

.THIS table{
    padding:0px;
    margin: 0 auto  !important;
}
.THIS tr{
    padding:0px;
    margin:0px;
}

.THIS td{
    padding:5px;
    margin:5px;
}

p-font.THIS{
    font-size:18px;
}

@keyframes pulsate{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}